@use "../../assets/utilities/colors" as *;
@use "../../assets/utilities/breakpoints" as *;

footer {
  width: 100%;
  padding: 1.5rem 10rem;
  margin: 0 0 0.5rem 0;

  background: $slate;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  a {
    font: 600 1rem "Source Code Pro";
    margin-bottom: 0.5rem;
    color: $smoke;
  }

  p {
    font: 400 0.75rem Karla;
    color: $smoke-extra-dark;
  }

  @media (max-width: $md) {
    padding: 1.5rem 5rem;
  }

  @media (max-width: $sm) {
    padding: 1.5rem 2.5rem;
  }
}
