$black: #1f2d3d;
$steel: #273444;
$slate: #3c4858;
$silver: #8492a6;

$red: #ff4949;

$white: #ffffff;

$smoke: #e0e6ed;
$smoke-dark: #d3dce6;
$smoke-extra-dark: #c0ccda;

$snow: #f9fafc;
$snow-dark: #eff2f7;
$snow-extra-dark: #e5e9f2;

$info: #1fb6ff;
$positive: #13ce66;
$negative: #ff4949;
$warning: #ffc82c;
